.tab-border-bottom-container,
.tab-border-top-container {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1.1px;
  width: 100% !important;
  height: calc(100% - 1px) !important;
  background-color: transparent !important;
  border-radius: inherit;
  box-sizing: border-box;
}
.tab-border-bottom-container:before,
.tab-border-top-container:before {
  content: "";
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: spinner 3s cubic-bezier(0, 0.8, 0.95, 1) infinite;
  background: conic-gradient(
      from 0deg at 50% 51.35%,
      rgba(185, 215, 243, 0) 0deg,
      rgba(185, 215, 243, 0) 289.4deg,
      #407cff 318deg,
      #da8bff 1turn,
      #fb7185 2turn
    ),
    conic-gradient(
      from 180deg at 50% 51.35%,
      rgba(185, 215, 243, 0) 0deg,
      rgba(185, 215, 243, 0) 287.46deg,
      #407cff 318deg,
      #da8bff 1turn,
      #fb7185 2turn
    );
  border-radius: inherit;
}
@keyframes spinner {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
.tab {
  overflow: hidden;
}
.tab.active {
  border-radius: 100px !important;
  box-shadow: inset 0 1px 1px 0 rgba(199, 211, 234, 0.12),
    inset 0 24px 48px 0 rgba(199, 211, 234, 0.05),
    0 24px 32px 0 rgba(6, 6, 14, 0.7);
}
